@charset "UTF-8";
/* CSS Document */

/*CSS för alla*/
/*NAV MENY*/
nav {
	font-family: "Bebas Neue", sans-serif;
	background-color: RGB(11 23 37);
	text-align: center;
	font-size: 40pt;
	height: 85px;
	padding: 15px 10px 0px;
}

.meny3 {
	text-align: center;
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

.meny1 {
	/*CLASS FÖR NAVmeny*/
	display: inline;
	float: center;
}

.link {
	display: inline;
	text-decoration: none;
}

a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: rgba(211, 50, 136, 1.00)
}

/*Var a innan */
.meny2 {
	display: inline;
	text-decoration: none;
	float: center;
}

.meny2:hover {
	background-color: white;
	padding: 10px;
}

/*slut på nav meny*/


/*css för hela BODY*/
body {
	background: RGB(11 23 37);
}



/*footer*/
footer {
	color: RGB(211 50 136);
	font-family: "IBM Plex Sans", sans-serif;
	text-align: center;
	padding: 15px;
}

/*TYPSNITT*/
.ibm-plex sans-regular {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.bebas-neue-regular {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: KHGummi;
	src: url("KHGummi.otf")
}



/*Patrycja*/



main {
	margin: auto 80px;
}



/*img-galleri inställningar aka flexbox*/
#flexbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

/*storlek på bilderna i galleriet*/
#bild1,
#bild2,
#bild3,
#bild4,
#bild5,
#bild6,
#bild7,
#bild8,
#bild9 {
	padding: 15px;
	width: 500px;
}

img {
	padding: 15px;
}

.color img {
	filter: grayscale(100%);
	webkit-filter: grayscale(100%);
	webkit-transition: all 0.3s ease;
}

.color img:hover {
	filter: grayscale(0%);
	gray: gray;
	webkit-filter: grayscale(0%);
	filter: none;
	transition: 0.3s ease;
}




/*Emma*/


#layout {
	display: grid;

	grid-template-rows: 100px 700px 400px 100px;
	grid-template-columns: 100px 2fr 100px;
	grid-template-areas:
		"header header header"
		"banner banner banner"
		"left pcon right"
		"left pcon right"
		"left pcon right"
		"left pcon right"
		"left pcon right"
		"left footer right"
		"left footer right";


}

header {
	text-align: center;
	grid-area: header;
	position: webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #0b1725;

}


label {
	font-size: 10pt;
	padding: 10px;
}




li {
	list-style-type: none;

}

.box {
	color: white;
	padding: 50px;
}

label {
	font-size: 13pt;
	align-content: center;
	font-family: "Bebas Neue", sans-serif;

}


.left {
	grid-area: left;
}

.right {
	grid-area: right;
}


.container {
	display: flex;
	flex-direction: column;
	padding: 10px;


}

.h1 {
	color: rgba(211, 50, 136, 1.00);
	a: 1;
	margin-top: -370px;
	margin-left: 380px;
	font-family: KHGummi;
	font-weight: 400;
	font-size: 20pt;
	text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em;
}


.biljetter {
	color: #D33288;
	background-color: white;
	text-align: center;
	font-family: Bebas Neue;
	text-decoration: none;
	font-size: 22pt;
	margin-top: 30px;
	margin-bottom: 20px;
	border-style: solid;
	border-color: #D33288;
	border-width: 4px;
	border-radius: 8px;
	width: 160px;
	padding: 14px;

}

.biljetter a {
	text-decoration: none;
	color: #D33288;

}

.biljetter a:hover {
	color: white;
	background-color: #D33288;
	text-decoration: none;
	border-color: white;
}

.quizindex {
	color: #D33288;
	background-color: white;
	text-align: center;
	font-family: Bebas Neue;
	text-decoration: none;
	font-size: 22pt;
	margin-top: 30px;
	margin-bottom: 30px;
	border-style: solid;
	border-color: #D33288;
	border-width: 4px;
	border-radius: 8px;
	width: 90px;
	padding: 14px;
}

.quizindex:hover {
	color: white;
	background-color: #D33288;
	text-decoration: none;
	border-color: white;
}

.pcon {

	display: inline-grid;
	grid-area: pcon;
	font-family: "IBM Plex Sans", sans-serif;
}

.pcon a {
	text-decoration: underline;
	color: white;
}

.pcon a:hover {
	color: hotpink;
}

p {
	color: white;
	font-weight: 200;
	font-size: 15pt;
	grid-area: 3/3/4/4;
	line-height: 23pt;

}

.link {
	/*	float: middle;*/
	display: inline;
}


#emmasbild {
	width: 100%;

}

.bild {
	grid-area: banner;
}




/*Annette*/




.start {
	font-family: KHGummi;
	color: white;
	text-align: center;
	font-size: 25pt;
	margin-top: 30px;
}

.galleri {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 400px 330px;
	justify-content: center;
	gap: 50px
}

.pic1 {
	background-color: #F5E11E;
	width: 300px;
	height: 400px;
}

.pic2 {
	background-color: #D33288;
	width: 300px;
	height: 400px;
}

.pic3 {
	background-color: #8BBE2C;
	width: 300px;
	height: 400px;
}

.char1 {
	color: white;
	text-align: left;
	font-family: IBM Plex Sans;
}

.char2 {
	color: white;
	text-align: center;
	font-family: IBM Plex Sans;
}

.char3 {
	color: white;
	text-align: right;
	font-family: IBM Plex Sans;
}

.knapp {
	display: flex;
	justify-content: center;
	margin-top: 210px;
}

button {
	color: #D33288;
	background-color: white;
	text-align: center;
	text-decoration: none;
	font-family: IBM Plex Sans;
	font-size: 16pt;
	margin-top: -60px;
	margin-bottom: 30px;
	border-style: solid;
	border-color: #D33288;
	border-width: 4px;
	border-radius: 8px;
	width: 150px;
	padding: 14px;
}

button:hover {
	color: white;
	background-color: #D33288;
	border-color: white;
	cursor: pointer;
}

.fraga {
	display: flex;
	flex-direction: column-reverse;
	color: #D33288;
	font-family: Bebas Neue;
	text-align: center;
	letter-spacing: 1px;
	font-size: 22pt;
	margin-top: 20px;
	margin-bottom: 2px;
}

.svar {

	color: white;
	font-family: IBM Plex Sans;
	text-align: left;
	font-size: 13pt;
	margin-top: 12px;
}

.quiz {
	display: grid;
	grid-template-columns: 500px;
	grid-template-rows: auto;
	justify-content: center;
}

#knapp2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 90px;
}

#resultatText {
	display: none;
}

.f1 {
	margin-bottom: 35px;
}

.f2 {
	margin-bottom: 35px;
}

.f3 {
	margin-bottom: 35px;
}

.f4 {
	margin-bottom: 35px;
}

.f5 {
	margin-bottom: 35px;
}

.f6 {
	margin-bottom: 35px;
}

.f7 {
	margin-bottom: 35px;
}

.f8 {
	margin-bottom: 35px;
}

.f9 {
	margin-bottom: 35px;
}

.f10 {
	margin-bottom: 35px;
}

#resultat {
	font-family: IBM Plex Sans;
	color: white;
	text-align: center;
	font-size: 25pt;
	margin-top: -5px;
	margin-bottom: 45px;
}