@charset "UTF-8";
/* CSS dokument */

/*CSS för alla*/
/*Nav*/
nav {
	font-family: "Bebas Neue", sans-serif;
	background-color: RGB(11 23 37);
	text-align: center;
	font-size: 40pt;
	height: 85px;
}

.indexnav {
	margin: 0px;
	padding: 0px;
}

.tomnav
{
	background-position: center;
	background-size: contain;
	margin: 0px;
	margin-top: 0px;
}

/*Class för nav*/
.meny1 {
	display: inline;
	margin: 0 auto;
	padding: 0px;
}

.link {
	display: inline;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: rgba(211, 50, 136, 1.00);
	display: flex;
}

/*Var <a> innan */
.meny2 {
	display: inline flex;
	align-items: center;
	text-decoration: none;
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	height: 85px;
}

.meny2:hover {
	background-color: white;
}
/*Slut på nav*/

/*CSS för hela body*/
body {
	background: RGB(11 23 37);
}

p {
	font-family: "IBM Plex Sans", sans-serif;
	color: white;
	font-weight: 200;
	font-size: 15pt;
	font-style: normal;
	line-height: 26pt;
}

/*Footer*/
footer {
	color: rgba(211, 50, 136, 1.00);
	font-family: "IBM Plex Sans", sans-serif;
	text-align: center;
	padding: 15px;
	margin-top: auto;
}

/*Fixar footern i surveys position*/
.surfot {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

/*Typsnitt*/
.ibm-plex sans-regular {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.bebas-neue-regular {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: KHGummi;
	src: url("KHGummi.otf")
}

/*Galleri*/
main {
	top-margin: 65px;
	right-margin: 75px;
	left-margin: 75px;
}

/*Img-galleri inställningar/flexbox*/
#flexbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

/*Storlek på bilderna i galleriet*/
#bild1,
#bild2,
#bild3,
#bild4,
#bild5,
#bild6,
#bild7,
#bild8,
#bild9,
#bild10,
#bild11,
#bild12 {
	padding: 15px;
	width: 27vw; 
    	/*box-sizing: border-box;  Include padding in the width calculation */
}

img {
	padding: 15px;

}

.color img {
	filter: grayscale(100%);
	webkit-filter: grayscale(100%);
	webkit-transition: all 0.2s ease;
}

.color img:hover {
	filter: grayscale(0%);
	gray: gray;
	webkit-filter: grayscale(0%);
	filter: none;
	transition: 0.2s ease;
}

/*Start*/
/*Layout på startsidan*/

.emmasbild-container {
	margin-top: 15px;
	margin-bottom: 65px;
	margin: 0 auto;
	width: 100%;
	display: inline-grid;
	grid-template-columns: auto;
}

/*Banner bild*/
#emmasbild {
	width: 100%;
	margin-top: 1px;
	margin-right: 0px;	
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
}

.bild {
	grid-area: banner;
}
/*Slut på banner*/

/*Så att knappen är på rätt position på startsidan*/
.startbiljett {
	margin-left: 105px;
}

/*Knapp för biljetter*/
.biljetter {
	color: #D33288;
	background-color: white;
	text-align: center;
	font-family: Bebas Neue;
	text-decoration: none;
	font-size: 22pt;
	margin-top: 110px;
	margin-bottom: 20px;
	border-style: solid;
	border-color: #D33288;
	border-width: 4px;
	border-radius: 5px;
	width: 220px;

}

.biljetter a:hover {
	color: white;
	background-color: #D33288;
	text-decoration: none;
	border-color: white;
}

.skicka
{
	color: #D33288;
	background-color: white;
	text-align: center;
	font-family: Bebas Neue;
	text-decoration: none;
	font-size: 22pt;
	border-style: solid;
	border-color: #D33288;
	border-width: 4px;
	border-radius: 8px;
	width: 160px;	
	margin-top: 20px
}

.skicka a:hover
{
	color: white;
	background-color: #D33288;
	text-decoration: none;
	border-color: white;
}

#hiddenText {
    display: none; /* Döljer texten som standard */
    padding: 5px;
	font-family:Bebas Neue;
	font-size: 75px;
	color: #D33288;
}


/*Löpande text*/

/*TXT-grid*/
.txt-container {
	margin: 0 auto;
	display: inline-grid;
	grid-template-columns: auto auto auto;
	border: 0.75px solid #525252;
	border-style: hidden;
	grid-gap: 28px;
	margin-left: 85px;
	margin-right: 85px;
}
	
/*TXT texterna*/
 .p1, .p2, .p3  { 
	font-family: "IBM Plex Sans", sans-serif;
	color: white;
	font-size: 15pt;
  	font-optical-sizing: auto;
	border: thin;
	margin: 15px 20px;
	text-align: left;
	max-width:1200px;
	}


.p1 {
	grid-column: 1/2;
}
	
.p2 {
	grid-column: 2/3;
}

.p3 {
	grid-column: 1/3;
}
/*Slut på txt container*/

input{
	padding: 10px 20px;
	Border-radius: 5px;
	border-color: #D33288;
	border-style: solid;
	margin-bottom: 10px;
}

li {
	list-style-type: none;

}

.box {
	color: white;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	min-height: 600px;
}

label {
	font-size: 13pt;
	align-content: center;
	font-family: "Bebas Neue", sans-serif;
	padding: 10px;
	padding-left: 0px;

}



.container {
	display: flex;
	flex-direction: column;
	margin-top: 0px;
	width: 100%;
}

.link {
	display: inline;
}

/*Inställningar för knapp till quiz*/
.quizindex { 
	color: #D33288;
	background-color: white;
	text-align: center;
	font-family: Bebas Neue;
	text-decoration: none;
	font-size: 22pt;
	margin-top: 30px;
	margin-bottom: 30px;
	border-style: solid;
	border-color: #D33288;
	border-width: 4px;
	border-radius: 8px;
	width: 90px;
	padding: 14px;
}

.quizindex:hover {
	color: white;
	background-color: #D33288;
	text-decoration: none;
	border-color: white;
} 
/*Slut på knapp*/

/*Quiz*/
.start {
	font-family: KHGummi;
	color: white;
	text-align: center;
	font-size: 25pt;
	margin-top: 30px;
}

.galleri {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 400px 330px;
	justify-content: center;
	gap: 50px
}

.pic1 {
	background-color: #F5E11E;
	width: 300px;
	height: 400px;
}

.pic2 {
	background-color: #D33288;
	width: 300px;
	height: 400px;
}

.pic3 {
	background-color: #8BBE2C;
	width: 300px;
	height: 400px;
}

.char1 {
	color: white;
	text-align: left;
	font-family: IBM Plex Sans;
}

.char2 {
	color: white;
	text-align: center;
	font-family: IBM Plex Sans;
}

.char3 {
	color: white;
	text-align: right;
	font-family: IBM Plex Sans;
}

.knapp {
	display: flex;
	justify-content: center;
	margin-top: 220px;
}

.knapp3 { 
	margin-top: 45px;
	font-family: Bebas Neue;
}

button {
	color: #D33288;
	background-color: white;
	text-align: center;
	text-decoration: none;
	font-family: Bebas Neue;
	font-size: 22pt;
	margin-bottom: 30px;
	border-style: solid;
	border-color: #D33288;
	border-width: 4px;
	border-radius: 8px;
	width: 150px;
	padding: 14px;
}

button:hover {
	color: white;
	background-color: #D33288;
	border-color: white;
	cursor: pointer;
}

.bakbild {
	background-image: url(tradbak.jpg);
	background-position: center;
	background-size: contain;
	background-blend-mode:soft-light;
	margin: 0px;
	max-width: 100%;
}

.fraga {
	display: flex;
	flex-direction: column-reverse;
	color: #D33288;
	font-family: Bebas Neue;
	text-align: center;
	letter-spacing: 1px;
	font-size: 22pt;
	margin-top: 20px;
	margin-bottom: 2px;
}

.svar {
	color: white;
	font-family: IBM Plex Sans;
	text-align: left;
	font-size: 13pt;
	margin-top: 12px;
}

.quiz {
	display: grid;
	grid-template-columns: 500px;
	grid-template-rows: auto;
	justify-content: center;
}

#knapp2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: -8px;
	min-height: 105px;
}

#resultatText {
	display: none;
}

.f1 {
	margin-bottom: 35px;
}

.f2 {
	margin-bottom: 35px;
}

.f3 {
	margin-bottom: 35px;
}

.f4 {
	margin-bottom: 35px;
}

.f5 {
	margin-bottom: 35px;
}

.f6 {
	margin-bottom: 35px;
}

.f7 {
	margin-bottom: 35px;
}

.f8 {
	margin-bottom: 35px;
}

.f9 {
	margin-bottom: 35px;
}

.f10 {
	margin-bottom: 35px;
}

#resultat {
	font-family: IBM Plex Sans;
	color: white;
	text-align: center;
	font-size: 25pt;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}
