@charset "utf-8";
/* CSS Document */


body {
	background: RGB(11 23 37);
}

main {
	margin: auto 80px;
}

/*NAV MENY*/
nav {
	font-family: "Bebas Neue", sans-serif;
	background-color: RGB(11 23 37);
	text-align: center;
	font-size: 40pt;
	height: 85px;
	padding: 15px 10px 0px;
}

ul {
	text-align: center;
	display: block;
	list-style-type: none;
}

.meny1 { /*CLASS FÖR NAVmeny*/
	;
	display: inline;
	float: middle;
}

.link {
	display: inline;
	text-decoration: none;
}

a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: RGB(215 43 136);
}

.meny2 {
	display: inline;
	text-decoration: none;
	float: center;
}

a:hover {
	background-color: aliceblue;
	padding: 10px;
}

/*img-galleri inställningar aka flexbox*/
#Flexbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px 15px;
}

img {
	padding: 15px;
}


/**/

/*footer*/
footer {
	color: RGB(215 43 136); 
	font-family: "IBM Plex Sans", sans-serif;
	text-align: center;
	padding: 15px;
}

/*TYPSNITT*/
.ibm-plex sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


